@tailwind base;
@tailwind components;
@tailwind utilities;

.hotel{
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between; 
}

.card-h img{
    @apply max-h-[200px] min-h-[200px] object-cover;
}